.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  display: flex;
  flex: 1;
}

.app-main {
  flex-grow: 1;
  padding: 20px;
}

.app-content {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.main-scroll-content {
  flex-grow: 1;
  padding: 0 20px 20px 20px;
  overflow-y: auto;
  height: 100vh;
  position: relative;
}