.label-item-container {
  position: relative;
}

.label-item {
  display: flex;
  align-items: center;
  padding: 6px 5px;
  border-radius: 6px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.label-item:hover {
  background-color: #e8f0fe;
}

.label-arrow {
  font-size: 10px;
  color: #5f6368;
  margin-right: 4px;
  margin-left: 2px;
  transition: transform 0.2s;
  user-select: none;
}

.label-color {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin-right: 8px;
}

.label-name {
  flex-grow: 1;
  font-size: 14px;
}

.label-name.bold {
  font-weight: bold;
}

.label-edit-input {
  flex-grow: 1;
  font-size: 14px;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  padding: 2px 4px;
  margin-right: 8px;
  outline: none;
}

.more-button-wrapper {
  position: relative;
}

.more-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-button:hover {
  background-color: #e0e0e0;
}

.label-tooltip {
  position: absolute;
  top: 30px;
  right: 0;
  background: black;
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}

.label-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 170px;
}

.label-menu-item {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.label-menu-item:hover {
  background-color: #f1f1f1;
}

/* עיצוב של תפריט הצבעים */
.color-picker-popup {
  display: grid;
  grid-template-columns: repeat(6, 26px);
  gap: 8px;
  padding: 12px;
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 175px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.label-color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-color-circle:hover {
  outline: 2px solid #000;
}

.label-color-letter {
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  pointer-events: none;
}

.label-menu-item.active {
  background-color: #e0e0e0;
  font-weight: 500;
}